@import "~@material/top-app-bar/dist/mdc.top-app-bar.css";
@import "~@material/drawer/dist/mdc.drawer.css";
@import "~@material/list/dist/mdc.list.css";
@import "~@material/menu-surface/dist/mdc.menu-surface.css";
@import "~@material/menu/dist/mdc.menu.css";
@import "@material/layout-grid/mdc-layout-grid";

.mdc-layout-grid {
  padding: 0;
}

.mdc-top-app-bar .mdc-menu-surface--open {
  right: 0;
}

#canvas {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}