@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/layout-grid/mdc-layout-grid";

.mdc-layout-grid {
  padding: 0;
}

.mdc-top-app-bar .mdc-menu-surface--open {
  right: 0;
}

#canvas {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}