@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

.mdc-top-app-bar .mdc-menu-surface--open {
  top: 0;
  right: 0;
}

#canvas {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}